<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Илон Маск</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>

<H1>Илон Маск</H1>
<hr>
<img src="/static/elon.jpg" width="700" alt="Илон">
<div>
    <br>
    <strong>Привет! Я <a class="a_ordinary" href="https://www.facebook.com/groups/ElonMusk/">Илон Маск</a>, а это моя страничка!</strong>
    <br>
</div>
<div>
    <p>
        Я запускаю ракеты в космос <del>и они взрываются</del>, и даже возвращаю их обратно и <ins>запускаю опять</ins>!
    </p>
</div>
<div>
    А ещё, я <mark>САМЫЙ БОГАТЫЙ</mark> человек на этом <em>умирающем каменном шаре</em> :)!
</div>
<div class="a_buttons cls_left">
    <p><br><br>
    <a href="/">На главную</a></p>
    <p><a href="/search_by_name">Поиск по имени</a></p>
    <p><a href="/search_by_skill">Поиск по навыку</a></p>
</div>
</body>
</html>